html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

canvas {
    padding: 0;
}

#sketch-holder {
    margin: auto;
    width: 100%;
    text-align: center;
    height: auto;
    padding-top: 10%;
}

#settings {
    width: 60%;
    max-width: 500px;
    margin: auto;
    text-align: center;
    border: 1px solid #B5838D;
    font-family: 'Oswald', sans-serif;
}

#settings h1,label,p {
    color: white;
}

#settings h1 {
    font-weight: bold;
}

#sliders {
    width: 50%;
    margin: auto;
}

.sliderLabel {
    color: white;
}

hr {
    width: 50%;
}

.mobileOnly {
    display: none;
}

@media only screen and (max-width: 1000px) {
    #settings {
        width: 100%;
    }

    canvas {
        width: 100px;
    }

    #sliders {
        width: 90%;
    }

    .pcOnly {
        display: none;
    }
    
    .mobileOnly {
        margin: auto;
        display: block;
        margin-bottom: 10px;
    }
}

